CHECKIN_DEMO_MODE=true
DATABRICKS_SERVER_HOSTNAME=
DATABRICKS_HTTP_PATH=
DATABRICKS_ACCESS_TOKEN=
DATABRICKS_CATALOG=
DATABRICKS_SCHEMA=
CHECKIN_DATABRICKS_CATALOG=hive_metastore
CHECKIN_DATABRICKS_RAW_TABLE=checkin_db.raw_checkpoints
CHECKIN_DATABRICKS_INSIGHTS_TABLE=processed_db.llm_insights
ENTIRE_API_KEY=
ENTIRE_BASE_URL=
ENTIRE_CLI_PATH=entire
